Repository jessedhillon/socratic: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, tsc

nix-fmt:
  name: nix fmt
  entry: nix fmt
  language: system
  pass_filenames: true
  stages:
  - pre-commit

tsc:
  name: tsc
  entry: bash -c 'for dir in socratic/web/*/frontend; do [ -f "$dir/tsconfig.json" ] && (cd "$dir" && npx tsc --noEmit) || true; done'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(agent): add assessment state schema and status message template
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/state.py
  socratic/llm/agent/assessment/status.py
  socratic/llm/prompts/agent/assessment_status.j2
Due: nix-fmt

chore(llm): clean up assessment state types and imports
  socratic/llm/agent/assessment/state.py
Due: nix-fmt

feat(tests): add tests for assessment agent state and status rendering
  tests/llm/conftest.py
  tests/llm/test_assessment_agent_state.py
Due: nix-fmt

feat(agent): add assessment state schema and status message template (#99)
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/state.py
  socratic/llm/agent/assessment/status.py
  socratic/llm/prompts/agent/assessment_status.j2
  tests/llm/conftest.py
  tests/llm/test_assessment_agent_state.py
Due: nix-fmt

feat(agent): implement AssessmentAgent with single-prompt design
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/tools.py
  socratic/llm/prompts/agent/assessment_system.j2
Due: nix-fmt

chore(llm): use LangGraph Command pattern for assessment completion
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/tools.py
Due: nix-fmt

chore(llm): adjust assessment system prompt per review feedback
  socratic/llm/prompts/agent/assessment_system.j2
Due: none

feat(agent): implement AssessmentAgent with single-prompt design (#100)
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/tools.py
  socratic/llm/prompts/agent/assessment_system.j2
Due: nix-fmt

feat(livekit): integrate AssessmentAgent graph into LiveKit voice pipeline
  socratic/llm/livekit/agent.py
Due: nix-fmt

fix(llm): treat assessment errors as fatal and sanitize client messages
  socratic/llm/livekit/agent.py
Due: nix-fmt

fix(llm): add AssessmentCriterion model for agent runtime context
  socratic/llm/agent/assessment/state.py
  socratic/llm/livekit/agent.py
  tests/llm/test_assessment_agent_state.py
Due: nix-fmt

fix(llm): use StructuredTool.from_function for InjectedToolCallId support
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/tools.py
Due: nix-fmt

fix(livekit): prevent turn desync when learner pauses mid-answer
  socratic/llm/livekit/agent.py
  socratic/llm/livekit/server.py
Due: nix-fmt

fix(livekit): revise interrupted agent messages with actual spoken content
  socratic/llm/livekit/agent.py
Due: nix-fmt

fix(llm): prevent agent from ending assessment before learner confirms
  socratic/llm/prompts/agent/assessment_system.j2
Due: none

fix(livekit): treat CancelledError as normal interruption, not fatal
  socratic/llm/livekit/agent.py
Due: nix-fmt

chore(livekit): use xml-style tag for interruption markers in messages
  socratic/llm/livekit/agent.py
Due: nix-fmt

feat(llm): add conviviality setting to control interviewer tone
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/state.py
  socratic/llm/prompts/agent/assessment_system.j2
Due: nix-fmt

fix(llm): reorder prompt so tone frames the interview approach
  socratic/llm/prompts/agent/assessment_system.j2
Due: none

feat(frontend,livekit): notify frontend when agent ends assessment
  socratic/llm/livekit/agent.py
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
Due: nix-fmt, tsc

feat(llm): rewrite assessment prompt for conversational Socratic style
  socratic/llm/prompts/agent/assessment_system.j2
Due: none

fix(frontend,livekit): ensure graceful farewell before assessment ends
  socratic/llm/agent/assessment/tools.py
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
Due: nix-fmt, tsc

chore(ci): enable socratic-agent process and trim trailing newlines
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .state/claude/skills/commit/SKILL.md
  process-compose.yaml
Due: nix-fmt

feat(livekit): defer completion event until farewell TTS finishes
  socratic/llm/livekit/agent.py
Due: nix-fmt

fix(frontend,livekit): add completion failsafe timeouts
  socratic/llm/livekit/agent.py
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
Due: nix-fmt, tsc

feat(llm): add learner-initiated ending and tool call format instructions
  socratic/llm/agent/assessment/tools.py
  socratic/llm/prompts/agent/assessment_system.j2
Due: nix-fmt

chore(livekit): add LangSmith thread metadata to graph config
  socratic/llm/livekit/agent.py
Due: nix-fmt

revise(c063ba7): address PR review comments on agent.py
  socratic/llm/livekit/agent.py
  socratic/llm/livekit/event.py
Due: nix-fmt

fix(frontend): use "discussion" instead of "interview" in UI copy
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
Due: nix-fmt, tsc

feat(frontend,learner,livekit): integrate AssessmentAgent graph into LiveKit voice pipeline (#101)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .state/claude/skills/commit/SKILL.md
  process-compose.yaml
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/state.py
  socratic/llm/agent/assessment/tools.py
  socratic/llm/livekit/agent.py
  socratic/llm/livekit/event.py
  socratic/llm/livekit/server.py
  socratic/llm/prompts/agent/assessment_system.j2
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
  tests/llm/test_assessment_agent_state.py
Due: nix-fmt, tsc

fix(llm): remove spoken-content guard from end_assessment tool
  socratic/llm/agent/assessment/tools.py
  socratic/llm/prompts/agent/assessment_system.j2
Due: nix-fmt

fix(livekit,logging): sanitize error messages and fix agent dev experience
  process-compose.yaml
  socratic/lib/logging/extra.py
  socratic/livekit/room.py
  socratic/web/socratic/route/livekit.py
Due: nix-fmt

fix(livekit,logging): sanitize error messages and fix agent dev experience (#104)
  process-compose.yaml
  socratic/lib/logging/extra.py
  socratic/livekit/room.py
  socratic/web/socratic/route/livekit.py
Due: nix-fmt

fix(llm): add has_said_farewell attestation to end_assessment tool
  socratic/llm/agent/assessment/tools.py
Due: nix-fmt

wip(llm): farewell subagent and langchain 1.x upgrade
  config/vendor.yaml
  poetry.lock
  pyproject.toml
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/farewell.py
  socratic/llm/agent/assessment/tools.py
  socratic/llm/agent/base.py
  socratic/llm/prompts/agent/assessment_system.j2
Due: nix-fmt

fix(frontend): allow completion screen to scroll when content overflows
  socratic/web/socratic/frontend/src/components/assessment/AssessmentCompletionScreen.tsx
Due: nix-fmt, tsc

fix(llm): remove spoken-content guard from end_assessment tool (#102)
  config/vendor.yaml
  poetry.lock
  pyproject.toml
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/farewell.py
  socratic/llm/agent/assessment/tools.py
  socratic/llm/agent/base.py
  socratic/llm/prompts/agent/assessment_system.j2
  socratic/web/socratic/frontend/src/components/assessment/AssessmentCompletionScreen.tsx
Due: nix-fmt, tsc

feat(llm): add ElevenLabs TTS support to LiveKit agent
  poetry.lock
  pyproject.toml
  socratic/core/config/secrets.py
  socratic/llm/livekit/server.py
Due: nix-fmt

Path conditions:
  nix-fmt: any of: \.(nix|py|ya?ml|md|tsx?|jsx?|json|s?css|html)$
  tsc: any of: ^socratic/web/.*/frontend/.*\.tsx?$
