Repository jessedhillon/socratic: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, tsc

nix-fmt:
  name: nix fmt
  entry: nix fmt
  language: system
  pass_filenames: true
  stages:
  - pre-commit

tsc:
  name: tsc
  entry: bash -c 'for dir in socratic/web/*/frontend; do [ -f "$dir/tsconfig.json" ] && (cd "$dir" && npx tsc --noEmit) || true; done'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(di): correct AutoLoader loader order for Cython extensions
  socratic/core/di.py
Due: nix-fmt

fix(devshell): add LD_LIBRARY_PATH for native pip packages
  flake.nix
Due: nix-fmt

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: nix-fmt

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: nix-fmt

chore(dev): Claude GitHub actions (#93)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: nix-fmt

fix(devshell): add LD_LIBRARY_PATH for native pip packages (#92)
  flake.nix
Due: nix-fmt

fix(di): correct AutoLoader loader order for Cython extensions (#91)
  socratic/core/di.py
Due: nix-fmt

fix(livekit): update plugins to v1.3 and adapt agent API
  pyproject.toml
  socratic/cli/script/test_livekit_session.py
  socratic/llm/livekit/agent.py
  socratic/llm/livekit/server.py
Due: nix-fmt

feat(frontend): add LiveKit client integration for real-time voice
  socratic/web/socratic/frontend/package-lock.json
  socratic/web/socratic/frontend/package.json
  socratic/web/socratic/frontend/src/api/livekit.ts
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/components/assessment/index.ts
  socratic/web/socratic/frontend/src/hooks/index.ts
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
Due: nix-fmt, tsc

fix(frontend): fix useLiveKitRoom effect loop and disconnect guard
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
Due: nix-fmt, tsc

feat(livekit): provision room with assessment metadata on token request
  socratic/cli/agent.py
  socratic/llm/livekit/server.py
  socratic/web/socratic/route/livekit.py
Due: nix-fmt

feat(frontend): add LiveKit dev test page
  socratic/web/socratic/frontend/src/pages/dev/DevLiveKitTestPage.tsx
  socratic/web/socratic/frontend/src/router.tsx
Due: nix-fmt, tsc

chore(deps): regenerate poetry.lock for plugin version bumps
  poetry.lock
Due: none

feat(frontend): add LiveKit client integration for real-time voice (#87)
  poetry.lock
  pyproject.toml
  socratic/cli/agent.py
  socratic/cli/script/test_livekit_session.py
  socratic/llm/livekit/agent.py
  socratic/llm/livekit/server.py
  socratic/web/socratic/frontend/package-lock.json
  socratic/web/socratic/frontend/package.json
  socratic/web/socratic/frontend/src/api/livekit.ts
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/components/assessment/index.ts
  socratic/web/socratic/frontend/src/hooks/index.ts
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
  socratic/web/socratic/frontend/src/pages/dev/DevLiveKitTestPage.tsx
  socratic/web/socratic/frontend/src/router.tsx
  socratic/web/socratic/route/livekit.py
Due: nix-fmt, tsc

feat(livekit): implement egress service for assessment recordings
  config/vendor.yaml
  socratic/core/config/vendor.py
  socratic/livekit/__init__.py
  socratic/livekit/egress.py
  socratic/web/socratic/route/livekit.py
  socratic/web/socratic/view/livekit.py
Due: nix-fmt

fix(livekit): add egress secrets model and fix API client construction
  socratic/core/config/secrets.py
  socratic/livekit/egress.py
Due: nix-fmt

fix(livekit): extract file URL from deprecated `file` field on EgressInfo
  config/secrets.vault.yaml
  config/vendor.yaml
  socratic/livekit/egress.py
Due: nix-fmt

feat(livekit): implement egress service for assessment recordings (#88)
  config/secrets.vault.yaml
  config/vendor.yaml
  socratic/core/config/secrets.py
  socratic/core/config/vendor.py
  socratic/livekit/__init__.py
  socratic/livekit/egress.py
  socratic/web/socratic/route/livekit.py
  socratic/web/socratic/view/livekit.py
Due: nix-fmt

fix(dev): do not overload XDG_DATA_HOME
  flake.nix
Due: nix-fmt

fix(dev): do not overload XDG_DATA_HOME (#94)
  flake.nix
Due: nix-fmt

revise(3470988): missed usages of XDG_DATA_HOME, minor env improvments
  flake.nix
  poetry.lock
  process-compose.yaml
  pyproject.toml
Due: nix-fmt

revise(3470988): missed usages of XDG_DATA_HOME, minor env improvments (#95)
  flake.nix
  poetry.lock
  process-compose.yaml
  pyproject.toml
Due: nix-fmt

feat(frontend,livekit): add LiveKit assessment mode with real-time voice
  socratic/livekit/__init__.py
  socratic/livekit/room.py
  socratic/web/socratic/frontend/src/api/livekit.ts
  socratic/web/socratic/frontend/src/pages/dev/DevChatTestPage.tsx
  socratic/web/socratic/frontend/src/pages/learner/AssignmentDetailPage.tsx
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
  socratic/web/socratic/frontend/src/router.tsx
  socratic/web/socratic/route/livekit.py
  socratic/web/socratic/view/livekit.py
Due: nix-fmt, tsc

chore(frontend): regenerate OpenAPI client with LiveKit endpoints
  socratic/web/socratic/frontend/src/api/livekit.ts
  socratic/web/socratic/frontend/src/api/sdk.gen.ts
  socratic/web/socratic/frontend/src/api/types.gen.ts
Due: nix-fmt, tsc

fix(frontend): remove unused imports and fix type errors
  socratic/web/socratic/frontend/src/components/CameraPreview.tsx
  socratic/web/socratic/frontend/src/components/assessment/AssessmentCompletionScreen.tsx
  socratic/web/socratic/frontend/src/components/assessment/ChatMessage.tsx
  socratic/web/socratic/frontend/src/components/assessment/useAssessmentApi.ts
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
  socratic/web/socratic/frontend/src/hooks/useNavigationGuard.ts
  socratic/web/socratic/frontend/src/pages/dev/DevAvTestPage.tsx
Due: nix-fmt, tsc

chore(dev): add process-compose MCP and fix redis socket path
  config/storage.yaml
  package-lock.json
  package.json
Due: nix-fmt

feat(frontend): improve LiveKit transcription handling and UX
  socratic/web/socratic/frontend/src/api/livekit.ts
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
Due: nix-fmt, tsc

feat(livekit): add error handling, transcript recording, and agent dispatch
  socratic/cli/agent.py
  socratic/core/config/vendor.py
  socratic/livekit/room.py
  socratic/llm/assessment/__init__.py
  socratic/llm/assessment/errors.py
  socratic/llm/assessment/runner.py
  socratic/llm/livekit/agent.py
  socratic/llm/livekit/server.py
  socratic/web/socratic/route/livekit.py
Due: nix-fmt

fix(livekit): mark attempt as failed when room creation fails
  socratic/model/attempt.py
  socratic/web/socratic/route/livekit.py
Due: nix-fmt

feat(frontend,learner,livekit): add LiveKit assessment mode with real-time voice (#89)
  config/storage.yaml
  package-lock.json
  package.json
  socratic/cli/agent.py
  socratic/core/config/vendor.py
  socratic/livekit/__init__.py
  socratic/livekit/room.py
  socratic/llm/assessment/__init__.py
  socratic/llm/assessment/errors.py
  socratic/llm/assessment/runner.py
  socratic/llm/livekit/agent.py
  socratic/llm/livekit/server.py
  socratic/model/attempt.py
  socratic/web/socratic/frontend/src/api/livekit.ts
  socratic/web/socratic/frontend/src/api/sdk.gen.ts
  socratic/web/socratic/frontend/src/api/types.gen.ts
  socratic/web/socratic/frontend/src/components/CameraPreview.tsx
  socratic/web/socratic/frontend/src/components/assessment/AssessmentCompletionScreen.tsx
  socratic/web/socratic/frontend/src/components/assessment/ChatMessage.tsx
  socratic/web/socratic/frontend/src/components/assessment/LiveKitVoiceConversation.tsx
  socratic/web/socratic/frontend/src/components/assessment/useAssessmentApi.ts
  socratic/web/socratic/frontend/src/hooks/useLiveKitRoom.ts
  socratic/web/socratic/frontend/src/hooks/useNavigationGuard.ts
  socratic/web/socratic/frontend/src/pages/dev/DevAvTestPage.tsx
  socratic/web/socratic/frontend/src/pages/dev/DevChatTestPage.tsx
  socratic/web/socratic/frontend/src/pages/learner/AssignmentDetailPage.tsx
  socratic/web/socratic/frontend/src/pages/learner/LiveKitAssessmentPage.tsx
  socratic/web/socratic/frontend/src/router.tsx
  socratic/web/socratic/route/livekit.py
  socratic/web/socratic/view/livekit.py
Due: nix-fmt, tsc

feat(storage): add async database session for LiveKit agent
  socratic/core/container/storage.py
  socratic/llm/assessment/__init__.py
  socratic/llm/assessment/checkpointer.py
  socratic/llm/assessment/runner.py
  socratic/llm/livekit/agent.py
  socratic/storage/__init__.py
  socratic/storage/agent_state.py
  socratic/storage/transcript.py
Due: nix-fmt

feat(storage): add async database session for LiveKit agent (#96)
  socratic/core/container/storage.py
  socratic/llm/assessment/__init__.py
  socratic/llm/assessment/checkpointer.py
  socratic/llm/assessment/runner.py
  socratic/llm/livekit/agent.py
  socratic/storage/__init__.py
  socratic/storage/agent_state.py
  socratic/storage/transcript.py
Due: nix-fmt

fix(storage): add DI defaults to async functions, remove redundant commits
  socratic/llm/assessment/checkpointer.py
Due: nix-fmt

fix(storage): remove redundant commits inside session.begin() context managers (#97)
  socratic/llm/assessment/checkpointer.py
Due: nix-fmt

feat(agent): add BaseAgent class with fixed graph topology and extension points
  socratic/llm/agent/__init__.py
  socratic/llm/agent/base.py
  socratic/llm/agent/state.py
Due: nix-fmt

feat(agent): add assessment state schema and status message template
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/state.py
  socratic/llm/agent/assessment/status.py
  socratic/llm/prompts/agent/assessment_status.j2
Due: nix-fmt

feat(agent): implement AssessmentAgent with single-prompt design
  socratic/llm/agent/assessment/__init__.py
  socratic/llm/agent/assessment/agent.py
  socratic/llm/agent/assessment/tools.py
  socratic/llm/prompts/agent/assessment_system.j2
Due: nix-fmt

feat(livekit): integrate AssessmentAgent graph into LiveKit voice pipeline
  socratic/llm/livekit/agent.py
Due: nix-fmt

chore(llm): derive state schema from generic type parameter
  socratic/llm/agent/base.py
Due: nix-fmt

feat(agent): add BaseAgent class with fixed graph topology and extension points (#98)
  socratic/llm/agent/__init__.py
  socratic/llm/agent/base.py
  socratic/llm/agent/state.py
Due: nix-fmt

Path conditions:
  nix-fmt: any of: \.(nix|py|ya?ml|md|tsx?|jsx?|json|s?css|html)$
  tsc: any of: ^socratic/web/.*/frontend/.*\.tsx?$
