Repository jessedhillon/socratic: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, format

nix-fmt:
  name: nix fmt
  entry: nix fmt
  language: system
  pass_filenames: true

format:
  name: ruff + isort migrations
  entry: bash -c 'poetry run ruff format migrations/versions/ && poetry run isort --dt migrations/versions/'
  language: system

feat(storage): refine storage.user implementation with new patterns (#16)
  CLAUDE.md
  migrations/versions/003_make_password_hash_non_nullable.py
  socratic/auth/local.py
  socratic/cli/user.py
  socratic/lib/__init__.py
  socratic/lib/sentinel.py
  socratic/storage/table.py
  socratic/storage/user.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/route/learner.py
  socratic/web/socratic/route/organization.py
  socratic/web/socratic/route/review.py
  tests/storage/__init__.py
  tests/storage/test_user.py
Due: nix-fmt, format

feat(storage): refactor storage.organization to new patterns
  socratic/auth/local.py
  socratic/cli/user.py
  socratic/storage/organization.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/route/organization.py
  tests/storage/test_organization.py
Due: nix-fmt, format

fix(storage): allow positional pk argument in get() functions
  socratic/storage/organization.py
  socratic/storage/user.py
Due: nix-fmt, format

feat(storage): refactor storage.organization to new patterns (#17)
  socratic/auth/local.py
  socratic/cli/user.py
  socratic/storage/organization.py
  socratic/storage/user.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/route/organization.py
  tests/storage/test_organization.py
Due: nix-fmt, format

feat(storage): refactor storage.objective to new patterns
  socratic/storage/objective.py
  socratic/web/socratic/route/objective.py
  tests/storage/test_objective.py
Due: nix-fmt, format

fix(storage): use sqla.insert() instead of ORM session.add() pattern
  socratic/storage/objective.py
  socratic/storage/organization.py
  socratic/storage/user.py
Due: nix-fmt, format

fix(storage): use assert instead of type: ignore for get() return values
  socratic/storage/objective.py
  socratic/storage/organization.py
  socratic/storage/user.py
Due: nix-fmt, format

feat(storage): refactor storage.objective to new patterns (#18)
  socratic/storage/objective.py
  socratic/storage/organization.py
  socratic/storage/user.py
  socratic/web/socratic/route/objective.py
  tests/storage/test_objective.py
Due: nix-fmt, format

docs(claude): add Linear issue title convention
  CLAUDE.md
Due: nix-fmt

feat(storage): refactor `storage.assignment`, `storage.attempt`, `storage.rubric` to new patterns
  socratic/storage/assignment.py
  socratic/storage/attempt.py
  socratic/storage/rubric.py
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/objective.py
  tests/storage/test_assignment.py
  tests/storage/test_attempt.py
  tests/storage/test_rubric.py
Due: nix-fmt, format

feat(storage): refactor `storage.assignment`, `storage.attempt`, `storage.rubric` to new patterns (#19)
  socratic/storage/assignment.py
  socratic/storage/attempt.py
  socratic/storage/rubric.py
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/objective.py
  tests/storage/test_assignment.py
  tests/storage/test_attempt.py
  tests/storage/test_rubric.py
Due: nix-fmt, format

chore(dev): nixpkgs bump
  flake.lock
Due: none

chore(dev): local claude configuration
  flake.nix
Due: nix-fmt

feat(storage): refactor remaining storage modules to new patterns
  socratic/storage/agent_state.py
  socratic/storage/evaluation.py
  socratic/storage/override.py
  socratic/storage/strand.py
  socratic/storage/transcript.py
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/review.py
  socratic/web/socratic/route/strand.py
  tests/storage/test_agent_state.py
  tests/storage/test_evaluation.py
  tests/storage/test_override.py
  tests/storage/test_strand.py
  tests/storage/test_transcript.py
Due: nix-fmt, format

feat(storage): refactor remaining storage modules to new patterns (#20)
  socratic/storage/agent_state.py
  socratic/storage/evaluation.py
  socratic/storage/override.py
  socratic/storage/strand.py
  socratic/storage/transcript.py
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/review.py
  socratic/web/socratic/route/strand.py
  tests/storage/test_agent_state.py
  tests/storage/test_evaluation.py
  tests/storage/test_override.py
  tests/storage/test_strand.py
  tests/storage/test_transcript.py
Due: nix-fmt, format

chore(storage): make update() functions return None
  socratic/cli/user.py
  socratic/storage/assignment.py
  socratic/storage/attempt.py
  socratic/storage/objective.py
  socratic/storage/organization.py
  socratic/storage/strand.py
  socratic/storage/user.py
  tests/storage/test_assignment.py
  tests/storage/test_attempt.py
  tests/storage/test_objective.py
  tests/storage/test_organization.py
  tests/storage/test_strand.py
  tests/storage/test_user.py
Due: nix-fmt, format

chore(storage): make update() functions return None (#21)
  socratic/cli/user.py
  socratic/storage/assignment.py
  socratic/storage/attempt.py
  socratic/storage/objective.py
  socratic/storage/organization.py
  socratic/storage/strand.py
  socratic/storage/user.py
  tests/storage/test_assignment.py
  tests/storage/test_attempt.py
  tests/storage/test_objective.py
  tests/storage/test_organization.py
  tests/storage/test_strand.py
  tests/storage/test_user.py
Due: nix-fmt, format

docs: add assessment model documentation
  docs/assessment-model.md
Due: nix-fmt

feat(frontend): add instructor dashboard with side navigation
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/components/InstructorLayout.tsx
  socratic/web/socratic/frontend/src/pages/AssignmentsPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
Due: nix-fmt

feat(frontend): add objective creation UI
  socratic/web/socratic/frontend/src/auth.ts
  socratic/web/socratic/frontend/src/components/ObjectiveForm.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
  socratic/web/socratic/route/objective.py
Due: nix-fmt, format

feat(frontend,instructor): add objective creation UI (#23)
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/auth.ts
  socratic/web/socratic/frontend/src/components/InstructorLayout.tsx
  socratic/web/socratic/frontend/src/components/ObjectiveForm.tsx
  socratic/web/socratic/frontend/src/pages/AssignmentsPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
  socratic/web/socratic/route/objective.py
Due: nix-fmt, format

Revert "feat(frontend,instructor): add objective creation UI (#23)"
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/auth.ts
  socratic/web/socratic/frontend/src/components/InstructorLayout.tsx
  socratic/web/socratic/frontend/src/components/ObjectiveForm.tsx
  socratic/web/socratic/frontend/src/pages/AssignmentsPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
  socratic/web/socratic/route/objective.py
Due: nix-fmt, format

feat(frontend,instructor): add instructor dashboard with side navigation (#22)
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/components/InstructorLayout.tsx
  socratic/web/socratic/frontend/src/pages/AssignmentsPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
Due: nix-fmt

feat(frontend,instructor): add objective creation UI (#25)
  socratic/web/socratic/frontend/src/auth.ts
  socratic/web/socratic/frontend/src/components/ObjectiveForm.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
  socratic/web/socratic/route/objective.py
Due: nix-fmt, format

feat(frontend): add objective view page
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
Due: nix-fmt

feat(frontend,instructor): add objective view page (#26)
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
Due: nix-fmt

feat(frontend): implement inline objective editing
  socratic/web/socratic/frontend/src/components/EditableSelect.tsx
  socratic/web/socratic/frontend/src/components/EditableText.tsx
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
Due: nix-fmt

feat(frontend): focus new/empty prompt on Add click
  socratic/web/socratic/frontend/src/components/EditableText.tsx
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
Due: nix-fmt

fix(frontend): remove border styling from EditableSelect on hover
  socratic/web/socratic/frontend/src/components/EditableSelect.tsx
Due: nix-fmt

feat(frontend): add delete button to prompt rows
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
Due: nix-fmt

feat(frontend,instructor): implement inline objective editing (#27)
  socratic/web/socratic/frontend/src/components/EditableSelect.tsx
  socratic/web/socratic/frontend/src/components/EditableText.tsx
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
Due: nix-fmt

feat(frontend): reuse view/edit page for objective creation
  socratic/web/socratic/frontend/src/components/ObjectiveForm.tsx
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
Due: nix-fmt

feat(frontend): allow saving objectives without title
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
Due: nix-fmt

feat(frontend): improve editable text UX
  socratic/web/socratic/frontend/src/components/EditableText.tsx
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
Due: nix-fmt

feat(frontend): add archive button to objective cards
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
Due: nix-fmt

feat(frontend): update archive button styling
  socratic/web/socratic/frontend/src/pages/ObjectivesPage.tsx
Due: nix-fmt

fix(frontend): add cursor-pointer to back button
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
Due: nix-fmt

fix(frontend): add cursor-pointer to add prompt buttons
  socratic/web/socratic/frontend/src/pages/ObjectiveViewPage.tsx
Due: nix-fmt

fix(api): exclude archived objectives from list by default
  socratic/web/socratic/route/objective.py
Due: nix-fmt, format

Path conditions:
  nix-fmt: any of: \.(nix|py|ya?ml|md|tsx?|jsx?|json|s?css|html)$
  format: (any of: ^socratic/ and \.py$) or (any of: ^migrations/versions and \.py$)
