Repository jessedhillon/socratic: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, format

nix-fmt:
  name: nix fmt
  entry: nix fmt
  language: system
  pass_filenames: true

format:
  name: ruff + isort migrations
  entry: bash -c 'poetry run ruff format migrations/versions/ && poetry run isort --dt migrations/versions/'
  language: system

fix(frontend): correct tailwind CSS import in main.tsx
  socratic/web/socratic/frontend/src/index.css
  socratic/web/socratic/frontend/src/main.tsx
Due: nix-fmt

fix(frontend): remove /static prefix from asset paths in index.html (#3)
  socratic/web/socratic/frontend/index.html
  socratic/web/socratic/frontend/src/index.css
  socratic/web/socratic/frontend/src/main.tsx
Due: nix-fmt

chore(fmt): apply base formatting and update pre-commit hook (#4)
  .pre-commit-config.yaml
  CLAUDE.md
  config/logging.yaml
  config/template.yaml
  migrations/env.py
  package-lock.json
  package.json
  process-compose.yaml
  socratic/web/example/frontend/src/App.tsx
  socratic/web/example/frontend/src/components/Hello.tsx
  socratic/web/socratic/dependencies.py
Due: nix-fmt, format

fix(dev): process-compose starts frontend on 5173
  process-compose.yaml
Due: nix-fmt

fix(frontend): add basename to BrowserRouter to match Vite base path
  socratic/web/socratic/frontend/src/main.tsx
Due: nix-fmt

fix(frontend): add basename to BrowserRouter to match Vite base path (#5)
  socratic/web/socratic/frontend/src/main.tsx
Due: nix-fmt

feat(api): add public endpoint to fetch organization by slug
  socratic/web/socratic/route/organization.py
  socratic/web/socratic/view/organization.py
Due: nix-fmt, format

fix(api): wrap database operation in session.begin() context
  socratic/web/socratic/route/organization.py
Due: nix-fmt, format

feat(api): add public endpoint to fetch organization by slug (#6)
  socratic/web/socratic/route/organization.py
  socratic/web/socratic/view/organization.py
Due: nix-fmt, format

feat(tests): add API integration test infrastructure
  CLAUDE.md
  config/env.d/test/storage.yaml
  socratic/core/config/source.py
  socratic/core/container/socratic.py
  tests/__init__.py
  tests/conftest.py
  tests/test_organization_api.py
Due: nix-fmt, format

chore(tests): suppress httplib2 deprecation warnings in pytest
  pyproject.toml
Due: none

chore(tests): add pytest pre-push hook
  .pre-commit-config.yaml
Due: nix-fmt

feat(tests): add API integration test infrastructure (#8)
  .pre-commit-config.yaml
  CLAUDE.md
  config/env.d/test/storage.yaml
  pyproject.toml
  socratic/core/config/source.py
  socratic/core/container/socratic.py
  tests/__init__.py
  tests/conftest.py
  tests/test_organization_api.py
Due: nix-fmt, format

fix(dev): resolve high CPU usage in dev server file watcher
  poetry.lock
  pyproject.toml
  socratic/cli/web.py
Due: nix-fmt, format

fix(dev): resolve high CPU usage in dev server file watcher (#9)
  poetry.lock
  pyproject.toml
  socratic/cli/web.py
Due: nix-fmt, format

feat(api): add authentication API endpoints with tests
  config/secrets.vault.yaml
  socratic/auth/__init__.py
  socratic/auth/jwt.py
  socratic/auth/local.py
  socratic/auth/middleware.py
  socratic/cli/user.py
  socratic/core/config/secrets.py
  socratic/core/container/auth.py
  socratic/core/container/socratic.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/route/organization.py
  tests/conftest.py
  tests/test_auth_api.py
Due: nix-fmt, format

chore(api): refactor JWTManager to module-level functions with DI
  socratic/auth/__init__.py
  socratic/auth/jwt.py
  socratic/auth/middleware.py
  socratic/core/container/auth.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/route/organization.py
  tests/conftest.py
Due: nix-fmt, format

chore(api): remove unnecessary DI pass-through in auth middleware/routes
  socratic/auth/middleware.py
  socratic/web/socratic/route/auth.py
Due: nix-fmt, format

feat(api): add authentication API endpoints with tests (#10)
  config/secrets.vault.yaml
  socratic/auth/__init__.py
  socratic/auth/jwt.py
  socratic/auth/local.py
  socratic/auth/middleware.py
  socratic/cli/user.py
  socratic/core/config/secrets.py
  socratic/core/container/auth.py
  socratic/core/container/socratic.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/route/organization.py
  tests/conftest.py
  tests/test_auth_api.py
Due: nix-fmt, format

feat(frontend): add org-slug based routing for login pages
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/pages/LoginPage.tsx
Due: nix-fmt

fix(dev): configure vite proxy and process-compose for API routing
  process-compose.yaml
  socratic/web/socratic/frontend/vite.config.ts
Due: nix-fmt

fix(api): wrap database operations in session.begin() context
  socratic/web/socratic/frontend/src/api.ts
  socratic/web/socratic/frontend/src/pages/DashboardPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
  socratic/web/socratic/route/learner.py
  socratic/web/socratic/route/review.py
Due: nix-fmt, format

chore(api): move mid-function imports to module level
  socratic/web/socratic/route/learner.py
Due: nix-fmt, format

feat(frontend): add org-slug based routing for login pages (#7)
  process-compose.yaml
  socratic/web/socratic/frontend/src/App.tsx
  socratic/web/socratic/frontend/src/api.ts
  socratic/web/socratic/frontend/src/pages/DashboardPage.tsx
  socratic/web/socratic/frontend/src/pages/LoginPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
  socratic/web/socratic/frontend/vite.config.ts
  socratic/web/socratic/route/learner.py
  socratic/web/socratic/route/review.py
Due: nix-fmt, format

feat(auth): support redirect query param for post-login return URL
  socratic/web/socratic/frontend/src/api.ts
  socratic/web/socratic/frontend/src/pages/DashboardPage.tsx
  socratic/web/socratic/frontend/src/pages/LoginPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
Due: nix-fmt

feat(auth): support redirect query param for post-login return URL (#11)
  socratic/web/socratic/frontend/src/api.ts
  socratic/web/socratic/frontend/src/pages/DashboardPage.tsx
  socratic/web/socratic/frontend/src/pages/LoginPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
Due: nix-fmt

chore(dev): add .credentials to gitignore
  .gitignore
Due: none

feat(dev): add copy-creds command for dev credential management
  flake.nix
Due: nix-fmt

feat(dev): support direct username arg in copy-creds
  flake.nix
Due: nix-fmt

feat(dev): add copy-creds command for dev credential management (#12)
  .gitignore
  flake.nix
Due: nix-fmt

feat(frontend): switch to openapi-ts generated API client
  socratic/web/socratic/frontend/.gitignore
  socratic/web/socratic/frontend/openapi-ts.config.ts
  socratic/web/socratic/frontend/src/api/client.gen.ts
  socratic/web/socratic/frontend/src/api/config.ts
  socratic/web/socratic/frontend/src/api/index.ts
  socratic/web/socratic/frontend/src/api/sdk.gen.ts
  socratic/web/socratic/frontend/src/api/types.gen.ts
  socratic/web/socratic/frontend/src/components/EvidencePanel.tsx
  socratic/web/socratic/frontend/src/components/ReviewList.tsx
  socratic/web/socratic/frontend/src/components/TranscriptViewer.tsx
  socratic/web/socratic/frontend/src/pages/DashboardPage.tsx
  socratic/web/socratic/frontend/src/pages/LoginPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
Due: nix-fmt

chore(dev): add tsc pre-commit hook for TypeScript validation
  .pre-commit-config.yaml
Due: nix-fmt

chore(frontend): rename response types to avoid openapi-ts type collision
  socratic/web/socratic/frontend/src/api/index.ts
  socratic/web/socratic/frontend/src/api/sdk.gen.ts
  socratic/web/socratic/frontend/src/api/types.gen.ts
  socratic/web/socratic/frontend/src/auth.ts
  socratic/web/socratic/frontend/src/main.tsx
  socratic/web/socratic/frontend/src/pages/DashboardPage.tsx
  socratic/web/socratic/frontend/src/pages/LoginPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/view/__init__.py
  socratic/web/socratic/view/assessment.py
  socratic/web/socratic/view/auth.py
Due: nix-fmt, format

feat(frontend): switch to openapi-ts generated API client (#13)
  .pre-commit-config.yaml
  socratic/web/socratic/frontend/.gitignore
  socratic/web/socratic/frontend/openapi-ts.config.ts
  socratic/web/socratic/frontend/src/api/client.gen.ts
  socratic/web/socratic/frontend/src/api/index.ts
  socratic/web/socratic/frontend/src/api/sdk.gen.ts
  socratic/web/socratic/frontend/src/api/types.gen.ts
  socratic/web/socratic/frontend/src/auth.ts
  socratic/web/socratic/frontend/src/components/EvidencePanel.tsx
  socratic/web/socratic/frontend/src/components/ReviewList.tsx
  socratic/web/socratic/frontend/src/components/TranscriptViewer.tsx
  socratic/web/socratic/frontend/src/main.tsx
  socratic/web/socratic/frontend/src/pages/DashboardPage.tsx
  socratic/web/socratic/frontend/src/pages/LoginPage.tsx
  socratic/web/socratic/frontend/src/pages/ReviewPage.tsx
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/view/__init__.py
  socratic/web/socratic/view/assessment.py
  socratic/web/socratic/view/auth.py
Due: nix-fmt, format

chore(style): move mid-file imports to top of modules
  socratic/core/container/template.py
  socratic/lib/json.py
  socratic/llm/assessment/nodes.py
  socratic/llm/evaluation/evidence.py
  socratic/llm/evaluation/feedback.py
  socratic/llm/evaluation/flagger.py
  socratic/llm/evaluation/grader.py
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/organization.py
  socratic/web/socratic/route/strand.py
Due: nix-fmt, format

chore(style): move mid-file imports to top of modules (#14)
  socratic/core/container/template.py
  socratic/lib/json.py
  socratic/llm/assessment/nodes.py
  socratic/llm/evaluation/evidence.py
  socratic/llm/evaluation/feedback.py
  socratic/llm/evaluation/flagger.py
  socratic/llm/evaluation/grader.py
  socratic/web/socratic/route/assessment.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/organization.py
  socratic/web/socratic/route/strand.py
Due: nix-fmt, format

fix(api,storage): move SQL queries from route handlers to storage layer
  socratic/storage/assignment.py
  socratic/storage/strand.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/learner.py
  socratic/web/socratic/route/strand.py
Due: nix-fmt, format

fix(dev): remove redundant formatters from pre-commit hooks
  .pre-commit-config.yaml
Due: nix-fmt

fix(api,storage): move SQL queries from route handlers to storage layer (#15)
  .pre-commit-config.yaml
  socratic/storage/assignment.py
  socratic/storage/strand.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/learner.py
  socratic/web/socratic/route/strand.py
Due: nix-fmt, format

feat(storage): refine storage.user implementation with new patterns
  CLAUDE.md
  migrations/versions/003_make_password_hash_non_nullable.py
  socratic/auth/local.py
  socratic/cli/user.py
  socratic/lib/__init__.py
  socratic/lib/sentinel.py
  socratic/storage/table.py
  socratic/storage/user.py
  socratic/web/socratic/route/assignment.py
  socratic/web/socratic/route/auth.py
  socratic/web/socratic/route/learner.py
  socratic/web/socratic/route/organization.py
  socratic/web/socratic/route/review.py
  tests/storage/__init__.py
  tests/storage/test_user.py
Due: nix-fmt, format

Path conditions:
  nix-fmt: any of: \.(nix|py|ya?ml|md|tsx?|jsx?|json|s?css|html)$
  format: (any of: ^socratic/ and \.py$) or (any of: ^migrations/versions and \.py$)
